<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 100%;
            max-width: 1240px;
            margin: 0 auto;
            padding: 0 15px;
            text-align: center;
        }
        .qrcode{
            height: 300px;
        }
    </style>
</head>

<body>

    <div class="main">  
        <div class="container">
            <img class="qrcode" src=<%=src%> alt="QR Code Image">
            <p>Scan the QR Code to access data!</p>
            <a href="/"><button type="button" class="btn btn-primary">Back</button></a>
            <br>
        </div>
    </div>

</body>

</html>